<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<!-- common/fragments/default_header.html -->
<div class="container" th:fragment="HeaderFrag">
	<ul class="nav justify-content-end">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" th:href="@{/boardList}">전체조회</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{/boardInsert}">등록</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
	  </li>
	</ul>
</div>
</html>