<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container text-center">
        <h3>전체 부서 조회</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>No.</th>
                     <th>부서번호</th>
                    <th>부서명</th>
                     <th>매니저ID</th>
                     <th>위치ID</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="info, sts : ${depts}">
                    <tr>
                        <td>[[ ${sts.count} ]]</td>
                        <td>[[ ${info.departmentId} ]]</td>
                        <td>[[ ${info.departmentName} ]]</td>
                        <td>[[ ${info.managerId} ]]</td>
                        <td>[[ ${info.locationId} ]]</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>    
</body>
</html>